@media (prefers-color-scheme: dark) {
    :root {
        --ic-brand-global-nav-bgd:  #121212!important;


        --ic-brand-primary-lightened-15: #1C325A !important;
        --ic-brand-primary-lightened-10: #1B2F55 !important;
        --ic-brand-primary-lightened-5: #192D50 !important;
        --ic-brand-primary-darkened-15: #283E66 !important;
        --ic-brand-primary-darkened-10: #33486E !important;
        --ic-brand-primary-darkened-5: #3E5276 !important;

        --ic-brand-button--primary-bgd-darkened-5: #467ce0 !important;
        --ic-brand-button--primary-bgd-darkened-15: #4b8dff !important;
        --ic-brand-button--secondary-bgd-darkened-5: #e2e2e2 !important;
        --ic-brand-button--secondary-bgd-darkened-15: #f9f6f6 !important;
        
        --ic-brand-font-color-dark-lightened-15: #22272a !important;
        --ic-brand-font-color-dark-lightened-30: #020202 !important;
        
        --ic-link-color-lightened-10: #1B2F55 !important;
        --ic-link-color-darkened-10: #33486E !important;

        --ic-brand-primary: #447de7 !important;
        --ic-brand-font-color-dark: #efefef !important;
        --ic-link-color: #ffffff !important;
        
        --ic-brand-button--primary-bgd: var(--ic-brand-primary) !important;
        --ic-brand-button--primary-text: #000000 !important;
        --ic-brand-button--secondary-bgd: #ffffff !important;
        --ic-brand-button--secondary-text: #000000 !important;
        --ic-brand-global-nav-bgd: #1f1f1f !important;
        --ic-brand-global-nav-ic-icon-svg-fill: #eaeaea !important;
        
        --ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary) !important;
        --ic-brand-global-nav-menu-item__text-color: #dadada !important;
        --ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color) !important;
        --ic-brand-global-nav-avatar-border: #dcedff !important;
        --ic-brand-global-nav-menu-item__badge-bgd: #000000 !important;
        --ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary) !important;
        --ic-brand-global-nav-menu-item__badge-text: #ffffff !important;
        --ic-brand-global-nav-menu-item__badge-text--active: #000000 !important;
        --ic-brand-global-nav-logo-bgd: #000000 !important;
        --ic-brand-Login-body-bgd-color: #1b1b1b !important;
        --ic-brand-Login-body-bgd-shadow-color: #191919 !important;
        --ic-brand-Login-Content-bgd-color: #000000 !important;
        --ic-brand-Login-Content-border-color: #252525 !important;
        --ic-brand-Login-Content-label-text-color: #cbcbcb !important;
        --ic-brand-Login-Content-password-text-color: #d1d1d1 !important;
        --ic-brand-Login-footer-link-color: #4a80e6 !important;
        --ic-brand-Login-footer-link-color-hover: #000000 !important;
        --ic-brand-Login-instructure-logo: #232323 !important;
    }

    svg {
        fill: white !important;
    }
    
    img {
        fill: white !important;
    }
}
/*

    .ic-icon-svg {
        fill: white !important !important;
    }

    body {
        background-color: #1d1d1d !important;
    }

    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
        background-color: #333333 !important !important;
        color: white !important !important;
    }

    a:active {
        color: white !important !important;
    }
    
    .ic-app-header__menu-list-link:hover {
        background-color: #383838 !important !important;
        color: white !important !important;
    }

    .ic-app-header__menu-list-link {
        color: white !important !important;
    }
    
} */

/* Custom */

/* This is a mess */
/* :root {
    --MTkzOTYw-primaryColor: #ffffff !important;
    --MTkzOTYw-primaryBorderColor: rgb(17, 30, 55) !important;
    --MTkzOTYw-primaryBackground: #1d345e !important;
    --MTkzOTYw-primaryHoverBackground: rgb(17, 30, 55) !important;
    --MTkzOTYw-primaryActiveBackground: rgb(17, 30, 55) !important;
    --MTkzOTYw-primaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(5, 9, 16) !important;
    --MTkzOTYw-primaryGhostColor: #1d345e !important;
    --MTkzOTYw-primaryGhostBorderColor: #1d345e !important;
    --MTkzOTYw-primaryGhostHoverBackground: rgba(29, 52, 94, 0.1) !important;
    --MTkzOTYw-primaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(29, 52, 94, 0.28) !important;
    --MTkzOTYw-secondaryColor: #2D3B45 !important;
    --MTkzOTYw-secondaryBorderColor: rgb(219, 219, 219) !important;
    --MTkzOTYw-secondaryBackground: #F5F5F5 !important;
    --MTkzOTYw-secondaryHoverBackground: rgb(219, 219, 219) !important;
    --MTkzOTYw-secondaryActiveBackground: rgb(219, 219, 219) !important;
    --MTkzOTYw-secondaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(194, 194, 194) !important;
    --MTkzOTYw-secondaryGhostColor: #2D3B45 !important;
    --MTkzOTYw-secondaryGhostBorderColor: #2D3B45 !important;
    --MTkzOTYw-secondaryGhostHoverBackground: rgba(45, 59, 69, 0.1) !important;
    --MTkzOTYw-secondaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(45, 59, 69, 0.28) !important;
    --MTkzOTYw-successColor: #FFFFFF !important;
    --MTkzOTYw-successBorderColor: rgb(7, 88, 49) !important;
    --MTkzOTYw-successBackground: #0B874B !important;
    --MTkzOTYw-successHoverBackground: rgb(7, 88, 49) !important;
    --MTkzOTYw-successActiveBackground: rgb(7, 88, 49) !important;
    --MTkzOTYw-successActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(3, 41, 23) !important;
    --MTkzOTYw-successGhostColor: #0B874B !important;
    --MTkzOTYw-successGhostBorderColor: #0B874B !important;
    --MTkzOTYw-successGhostHoverBackground: rgba(11, 135, 75, 0.01) !important;
    --MTkzOTYw-successGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(11, 135, 75, 0.28) !important;
    --MTkzOTYw-dangerColor: #FFFFFF !important;
    --MTkzOTYw-dangerBorderColor: rgb(174, 5, 24) !important;
    --MTkzOTYw-dangerBackground: #E0061F !important;
    --MTkzOTYw-dangerHoverBackground: rgb(174, 5, 24) !important;
    --MTkzOTYw-dangerActiveBackground: rgb(174, 5, 24) !important;
    --MTkzOTYw-dangerActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(125, 3, 17) !important;
    --MTkzOTYw-dangerGhostColor: #E0061F !important;
    --MTkzOTYw-dangerGhostBorderColor: #E0061F !important;
    --MTkzOTYw-dangerGhostHoverBackground: rgba(224, 6, 31, 0.1) !important;
    --MTkzOTYw-dangerGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(224, 6, 31, 0.28) !important;
    --MTkzOTYw-primaryInverseColor: #2D3B45 !important;
    --MTkzOTYw-primaryInverseBorderColor: rgb(219, 219, 219) !important;
    --MTkzOTYw-primaryInverseBackground: #FFFFFF !important;
    --MTkzOTYw-primaryInverseHoverBackground: rgb(242, 242, 242) !important;
    --MTkzOTYw-primaryInverseActiveBackground: #FFFFFF !important;
    --MTkzOTYw-primaryInverseActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(191, 191, 191) !important;
    --MTkzOTYw-primaryInverseGhostColor: #FFFFFF !important;
    --MTkzOTYw-primaryInverseGhostBorderColor: #FFFFFF !important;
    --MTkzOTYw-primaryInverseGhostBackground: transparent !important;
    --MTkzOTYw-primaryInverseGhostHoverBackground: rgba(255, 255, 255, 0.1) !important;
    --MTkzOTYw-primaryInverseGhostActiveBackground: transparent !important;
    --MTkzOTYw-primaryInverseGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(255, 255, 255, 0.28) !important;
    --fCrpb-color: #2D3B45 !important;
    --qBMHb-borderColor: #C7CDD1 !important;
    --qBMHb-color: #2D3B45 !important;
    --qBMHb-background: #FFFFFF !important;
    --qBMHb-focusOutlineColor: #1d345e !important;
    --qBMHb-errorBorderColor: #E0061F !important;
    --qBMHb-errorOutlineColor: #E0061F !important;
    --qBMHb-placeholderColor: #6B7780 !important;
    --dpCPB-color: #2D3B45 !important;
    --dpCPB-background: #FFFFFF !important;
    --dpCPB-borderColor: #C7CDD1 !important;
    --XOwIb-defaultColor: #2D3B45 !important;
    --XOwIb-defaultlHoverBorderColor: #C7CDD1 !important;
    --XOwIb-defaultSelectedBorderColor: #1d345e !important;
    --XOwIb-secondaryColor: #2D3B45 !important;
    --XOwIb-secondarySelectedBackground: #FFFFFF !important;
    --XOwIb-secondarySelectedBorderColor: #C7CDD1 !important;
    --XOwIb-secondarySelectedColor: #2D3B45 !important;
    --dCppM-defaultBackground: #FFFFFF !important;
    --dCppM-scrollFadeColor: #FFFFFF !important;
    --dqmEK-arrowBackgroundColor: #FFFFFF !important;
    --dqmEK-arrowBorderColor: #C7CDD1 !important;
    --dqmEK-arrowBackgroundColorInverse: #2D3B45 !important;
    --enRcg-primaryInverseColor: #FFFFFF !important;
    --enRcg-primaryColor: #2D3B45 !important;
    --enRcg-secondaryColor: #6B7780 !important;
    --enRcg-secondaryInverseColor: #F5F5F5 !important;
    --enRcg-warningColor: #FC5E13 !important;
    --enRcg-brandColor: #1d345e !important;
    --enRcg-errorColor: #E0061F !important;
    --enRcg-dangerColor: #E0061F !important;
    --enRcg-successColor: #0B874B !important;
    --enRcg-alertColor: #BF32A4 !important;
    --eHQDY-trackColor: #F5F5F5 !important;
    --eHQDY-color: #1d345e !important;
    --eHQDY-inverseColor: #0374B5 !important;

    --dUOHu-primaryInverseColor: #FFFFFF !important;
    --dUOHu-primaryColor: #2D3B45 !important;
    --dUOHu-secondaryColor: #6B7780 !important;
    --dUOHu-secondaryInverseColor: #F5F5F5 !important;
    --dUOHu-warningColor: #FC5E13 !important;
    --dUOHu-brandColor: #1d345e !important;
    --dUOHu-errorColor: #E0061F !important;
    --dUOHu-alertColor: #BF32A4 !important;
    --dUOHu-successColor: #0B874B !important;

    --fQfxa-primaryColor: #ffffff !important;
    --fQfxa-primaryBorderColor: rgb(17, 30, 55) !important;
    --fQfxa-primaryBackground: #1d345e !important;
    --fQfxa-primaryHoverBackground: rgb(17, 30, 55) !important;
    --fQfxa-primaryActiveBackground: rgb(17, 30, 55) !important;
    --fQfxa-primaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(5, 9, 16) !important;
    --fQfxa-primaryGhostColor: #1d345e !important;
    --fQfxa-primaryGhostBorderColor: #1d345e !important;
    --fQfxa-primaryGhostHoverBackground: rgba(29, 52, 94, 0.1) !important;
    --fQfxa-primaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(29, 52, 94, 0.28) !important;
    --fQfxa-secondaryColor: #2D3B45 !important;
    --fQfxa-secondaryBorderColor: rgb(219, 219, 219) !important;
    --fQfxa-secondaryBackground: #F5F5F5 !important;
    --fQfxa-secondaryHoverBackground: rgb(219, 219, 219) !important;
    --fQfxa-secondaryActiveBackground: rgb(219, 219, 219) !important;
    --fQfxa-secondaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(194, 194, 194) !important;
    --fQfxa-secondaryGhostColor: #2D3B45 !important;
    --fQfxa-secondaryGhostBorderColor: #2D3B45 !important;
    --fQfxa-secondaryGhostHoverBackground: rgba(45, 59, 69, 0.1) !important;
    --fQfxa-secondaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(45, 59, 69, 0.28) !important;
    --fQfxa-successColor: #FFFFFF !important;
    --fQfxa-successBorderColor: rgb(7, 88, 49) !important;
    --fQfxa-successBackground: #0B874B !important;
    --fQfxa-successHoverBackground: rgb(7, 88, 49) !important;
    --fQfxa-successActiveBackground: rgb(7, 88, 49) !important;
    --fQfxa-successActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(3, 41, 23) !important;
    --fQfxa-successGhostColor: #0B874B !important;
    --fQfxa-successGhostBorderColor: #0B874B !important;
    --fQfxa-successGhostHoverBackground: rgba(11, 135, 75, 0.01) !important;
    --fQfxa-successGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(11, 135, 75, 0.28) !important;
    --fQfxa-dangerColor: #FFFFFF !important;
    --fQfxa-dangerBorderColor: rgb(174, 5, 24) !important;
    --fQfxa-dangerBackground: #E0061F !important;
    --fQfxa-dangerHoverBackground: rgb(174, 5, 24) !important;
    --fQfxa-dangerActiveBackground: rgb(174, 5, 24) !important;
    --fQfxa-dangerActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(125, 3, 17) !important;
    --fQfxa-dangerGhostColor: #E0061F !important;
    --fQfxa-dangerGhostBorderColor: #E0061F !important;
    --fQfxa-dangerGhostHoverBackground: rgba(224, 6, 31, 0.1) !important;
    --fQfxa-dangerGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(224, 6, 31, 0.28) !important;
    --fQfxa-primaryInverseColor: #2D3B45 !important;
    --fQfxa-primaryInverseBorderColor: rgb(219, 219, 219) !important;
    --fQfxa-primaryInverseBackground: #FFFFFF !important;
    --fQfxa-primaryInverseHoverBackground: rgb(242, 242, 242) !important;
    --fQfxa-primaryInverseActiveBackground: #FFFFFF !important;
    --fQfxa-primaryInverseActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(191, 191, 191) !important;
    --fQfxa-primaryInverseGhostColor: #FFFFFF !important;
    --fQfxa-primaryInverseGhostBorderColor: #FFFFFF !important;
    --fQfxa-primaryInverseGhostHoverBackground: rgba(255, 255, 255, 0.1) !important;
    --fQfxa-primaryInverseGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(255, 255, 255, 0.28) !important;
    --LTEyOTA1-primaryColor: #ffffff !important;
    --LTEyOTA1-primaryBorderColor: rgb(17, 30, 55) !important;
    --LTEyOTA1-primaryBackground: #1d345e !important;
    --LTEyOTA1-primaryHoverBackground: rgb(17, 30, 55) !important;
    --LTEyOTA1-primaryActiveBackground: rgb(17, 30, 55) !important;
    --LTEyOTA1-primaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(5, 9, 16) !important;
    --LTEyOTA1-primaryGhostColor: #1d345e !important;
    --LTEyOTA1-primaryGhostBorderColor: #1d345e !important;
    --LTEyOTA1-primaryGhostHoverBackground: rgba(29, 52, 94, 0.1) !important;
    --LTEyOTA1-primaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(29, 52, 94, 0.28) !important;
    --LTEyOTA1-secondaryColor: #2D3B45 !important;
    --LTEyOTA1-secondaryBorderColor: rgb(219, 219, 219) !important;
    --LTEyOTA1-secondaryBackground: #F5F5F5 !important;
    --LTEyOTA1-secondaryHoverBackground: rgb(219, 219, 219) !important;
    --LTEyOTA1-secondaryActiveBackground: rgb(219, 219, 219) !important;
    --LTEyOTA1-secondaryActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(194, 194, 194) !important;
    --LTEyOTA1-secondaryGhostColor: #2D3B45 !important;
    --LTEyOTA1-secondaryGhostBorderColor: #2D3B45 !important;
    --LTEyOTA1-secondaryGhostHoverBackground: rgba(45, 59, 69, 0.1) !important;
    --LTEyOTA1-secondaryGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(45, 59, 69, 0.28) !important;
    --LTEyOTA1-successColor: #FFFFFF !important;
    --LTEyOTA1-successBorderColor: rgb(7, 88, 49) !important;
    --LTEyOTA1-successBackground: #0B874B !important;
    --LTEyOTA1-successHoverBackground: rgb(7, 88, 49) !important;
    --LTEyOTA1-successActiveBackground: rgb(7, 88, 49) !important;
    --LTEyOTA1-successActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(3, 41, 23) !important;
    --LTEyOTA1-successGhostColor: #0B874B !important;
    --LTEyOTA1-successGhostBorderColor: #0B874B !important;
    --LTEyOTA1-successGhostHoverBackground: rgba(11, 135, 75, 0.01) !important;
    --LTEyOTA1-successGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(11, 135, 75, 0.28) !important;
    --LTEyOTA1-dangerColor: #FFFFFF !important;
    --LTEyOTA1-dangerBorderColor: rgb(174, 5, 24) !important;
    --LTEyOTA1-dangerBackground: #E0061F !important;
    --LTEyOTA1-dangerHoverBackground: rgb(174, 5, 24) !important;
    --LTEyOTA1-dangerActiveBackground: rgb(174, 5, 24) !important;
    --LTEyOTA1-dangerActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(125, 3, 17) !important;
    --LTEyOTA1-dangerGhostColor: #E0061F !important;
    --LTEyOTA1-dangerGhostBorderColor: #E0061F !important;
    --LTEyOTA1-dangerGhostHoverBackground: rgba(224, 6, 31, 0.1) !important;
    --LTEyOTA1-dangerGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(224, 6, 31, 0.28) !important;
    --LTEyOTA1-primaryInverseColor: #2D3B45 !important;
    --LTEyOTA1-primaryInverseBorderColor: rgb(219, 219, 219) !important;
    --LTEyOTA1-primaryInverseBackground: #FFFFFF !important;
    --LTEyOTA1-primaryInverseHoverBackground: rgb(242, 242, 242) !important;
    --LTEyOTA1-primaryInverseActiveBackground: #FFFFFF !important;
    --LTEyOTA1-primaryInverseActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgb(191, 191, 191) !important;
    --LTEyOTA1-primaryInverseGhostColor: #FFFFFF !important;
    --LTEyOTA1-primaryInverseGhostBorderColor: #FFFFFF !important;
    --LTEyOTA1-primaryInverseGhostHoverBackground: rgba(255, 255, 255, 0.1) !important;
    --LTEyOTA1-primaryInverseGhostActiveBoxShadow: inset 0 0 0.1875rem 0.0625rem rgba(255, 255, 255, 0.28) !important;
    --cAqHo-background: #FFFFFF !important;
    --cAqHo-focusBorderColor: #0374B5 !important;
    --fOyUs-color: #2D3B45 !important;
    --fOyUs-colorPrimaryInverse: #FFFFFF !important;
    --fOyUs-borderColorPrimary: #C7CDD1 !important;
    --fOyUs-borderColorSecondary: #6B7780 !important;
    --fOyUs-borderColorSuccess: #0B874B !important;
    --fOyUs-borderColorBrand: #1d345e !important;
    --fOyUs-borderColorInfo: #1d345e !important;
    --fOyUs-borderColorAlert: #BF32A4 !important;
    --fOyUs-borderColorWarning: #FC5E13 !important;
    --fOyUs-borderColorDanger: #E0061F !important;
    --fOyUs-debugOutlineColor: #E0061F !important;
    --fOyUs-backgroundPrimary: #FFFFFF !important;
    --fOyUs-backgroundSecondary: #F5F5F5 !important;
    --fOyUs-backgroundPrimaryInverse: #2D3B45 !important;
    --fOyUs-backgroundBrand: #1d345e !important;
    --fOyUs-backgroundInfo: #1d345e !important;
    --fOyUs-backgroundAlert: #BF32A4 !important;
    --fOyUs-backgroundSuccess: #0B874B !important;
    --fOyUs-backgroundDanger: #E0061F !important;
    --fOyUs-backgroundWarning: #FC5E13 !important;
    --fOyUs-focusColorInfo: #1d345e !important;
    --fOyUs-focusColorDanger: #E0061F !important;
    --fOyUs-focusColorSuccess: #0B874B !important;
    --fOyUs-focusColorInverse: #FFFFFF !important;
    --fOyUs-shadowDepth1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1) !important;
    --fOyUs-shadowDepth2: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16) !important;
    --fOyUs-shadowDepth3: 0 0.375rem 0.4375rem rgba(0, 0, 0, 0.1), 0 0.625rem 1.75rem rgba(0, 0, 0, 0.25) !important;
    --fOyUs-shadowResting: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1) !important;
    --fOyUs-shadowAbove: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16) !important;
    --fOyUs-shadowTopmost: 0 0.375rem 0.4375rem rgba(0, 0, 0, 0.1), 0 0.625rem 1.75rem rgba(0, 0, 0, 0.25) !important;
    --fbyHH-color: #1d345e !important;
    --fbyHH-focusOutlineColor: #1d345e !important;
    --fbyHH-hoverColor: rgb(17, 30, 55) !important;
    --fbyHH-colorInverse: #F5F5F5 !important;
    --fbyHH-focusInverseOutlineColor: #FFFFFF !important;
    --fbyHH-focusInverseIconOutlineColor: #FFFFFF !important;
    --fLzZc-background: #FFFFFF !important;
    --fLzZc-borderColor: #C7CDD1 !important;
} */