:root {
    --ic-brand-global-nav-bgd: #fafafa !important;
}

/* Info box background */
.eMdva_dnnz {
    background-color: orange !important;
}

/* Home card heading text */
.ic-DashboardCard__header-subtitle {
    font-weight: Bolder !important;
    font-size: 1.5rem !important;
}

/* Home card image container */
.ic-DashboardCard__header_hero {
    display: none;
}

.ic-DashboardCard__action > * {
    fill: black !important;
}

#DashboardCard_Container {
    padding-left: 24px !important;
}

#content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ic-DashboardCard {
    border: 0.0625rem solid #dadce0;
    box-shadow: none;
}

.ic-DashboardCard:hover {
    box-shadow: 0 2px 4px 0 rgb(60 64 67 / 30%), 0 4px 12px 4px rgb(60 64 67 / 15%) !important;
}

#right-side-wrapper {
    padding-left: 10px !important;
}

.todo-list-header > span {
    visibility: hidden;
    position: relative;
}

.todo-list-header > span::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "TODO:";
}

.ic-app-header__menu-list-link {
    border-radius: 10px !important;
    padding: 3px !important;
    margin-bottom: 4px !important;
}

.ic-app-header__main-navigation {
    padding: 4px !important;
}

.ic-app-header__logomark {
    margin: -4px !important;
    margin-bottom: 8px !important;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
    background-color: #d6d6d6 !important;
}

.ic-app-header__menu-list-link:hover {
    background-color: #e2e2e2 !important;
}

.hidden-phone {
    font-size: 1.9rem !important;
    font-weight: bolder !important;
}

/* [role="presentation"] {
    display: none !important;
} */

td:has(> img) {
    display: none !important;
}

tr:has(> td:has(> img)) {
    height: none !important;
}
